
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="/main.js"></script>
	</head>
	<body>
		<header>
			<h1>Home</h1>            
			<a href="/logout">Log out</a>
            <a href="/new">Send parcel</a>
			
		</header>
	<main>
		<p>This is the home page. Users cant see it without logging in.</p>
		
	</main>
	</body>
</html>
