
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="/main.js"></script>
	</head>
	<body>
		<header>
			<h1>Home</h1>            
			<a href="/logout">Log out</a>
            <a href="/new">Send parcel</a>
			
		</header>
	<main>
        
		
		        <table>
                    <tr>
        <th>Recepient name</th>
        <th>Destiantion postcode</th>
        <th>Date and time added</th>
        <th>Status</th>
          </tr>
            {{#each Parcels}}
                 
                <tr><td>{{this.Rec_name}}</td><td>{{this.D_postcode}}</td><td>{{this.date_added}}</td><td>{{this.Status}}</td></tr>
            {{/each}}  
        </table>
	</main>
	</body>
</html>
